/lib/*
!/lib/README.md

# Eclipse
/.classpath
/.project
/.settings
/projects/*/.classpath
/projects/*/.project
/projects/*/.settings

# maven
/target
/projects/*/target

# Mac
.DS_Store
/bin/
/build/
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting
